<section>
  <h1>{{ 'sections.main_group.title' | t }}</h1>
  <p>{{ 'sections.main_group.description' | t }}</p>
</section>

{% schema %}
{
  "name": "Main group",
  "settings": [],
  "presets": [
    {
      "name": "Main group"
    }
  ]
}
{% endschema %}
